/target
**/*.rs.bk
*.ec_data
*.sequences
*.gfa
*.uhs
*.lcp
*.lcp.gz
small-example/*
*.genome.fa
*.10X.*
src/trash.rs
ref/
*.graphml
*.png
*.pyc
*.txt
*.svg
perf*
runs
*.paf
*.maf
*.ref
*.zst
Cargo.lock
src/graph.py
compute_err.py
.DS_Store
*.out
*.unmapped*
minimap2-2.24
minimap2-2.24_x64-linux/
experiments/chm13/badread.fa
experiments/chm13/chm13.genome.fa.fai
