/target
**/*.rs.bk
*.ec_data
*.sequences
*.gfa
*.fa
*.fa.fai
*.uhs
*.lcp
*.lcp.gz
small-example/*
*.fasta
src/trash.rs
ref/
*.graphml
*.png
*.pyc
*.txt
*.svg
perf*
runs
*.paf
*.maf
*.ref
Cargo.lock
src/graph.py
compute_err.py
.DS_Store
example/model_qc_clr
.gitignore
example/nearperfect-ecoli*
*.log
*.out
pos_*.rs
multi_*.rs
experiments/chm13/minimap2-2.24*
experiments/chm13/blend
utils/
example-ava/
example-map/