/target
**/*.rs.bk
*.ec_data
*.sequences
*.gfa
*.uhs
*.lcp
*.lcp.gz
small-example/*
*.genome.fa
*.10X.fa
src/trash.rs
ref/
*.graphml
*.png
*.pyc
*.txt
*.svg
perf*
runs
*.paf
*.maf
*.ref
Cargo.lock
src/graph.py
compute_err.py
.DS_Store
*.out